[phases.setup]
nixPkgs = ['nodejs']

[phases.install]
cmds = [
  'npm install --production=false', 
  'cd server && npm install',
  'npx playwright install --with-deps chromium'
]

[start]
cmd = 'cd server && npm start'
